@font-face {
    font-family: "worksans";
    src: url(/fonts/Work_Sans/static/WorkSans-Medium.ttf);
}



*{
   font-family: "worksans";
   box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(rgba(62, 29, 63, 0.7), rgba(62, 29, 63, 0.7)), url(/img/deep-purple-kKCF--620x349@abc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/*////////////////////*/
@media (max-width: 700px) {
    body {
        background:rgb(62, 29, 63);
    }
}

body::-webkit-scrollbar {

    display: none;
}



/*Nav*/
header nav {
    width: 100%;
    transition: all 0.3s ease;
}

.nav_menu {
    transition: all 0.3s ease;
}

header nav ul {
    display: flex;
    list-style: none;
    text-decoration: none;
    margin: 0 auto;
    justify-content: space-around;
    transition: all 0.3s ease;
}


.container-social{
    display: flex;
    width:10%;
    transition: all 0.3s ease;
}


header nav ul li a{
    position: relative;
    text-decoration: none;
    font-size: 22px;
    color:white;
    padding: 0 10px;
    letter-spacing: 0.5px;
    transition: all 0.3s ease;
}

header nav ul li a::after{
    content:"";
    position: absolute;
    background-color: white;
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -10px;
    transition: all 0.3s ease;
}

header nav ul li a:hover::after{
    width: 100%;
}

header a i{
    color:white;
    font-size: 25px;
    margin-right: 10px;
    transition:all 0.3s ease;
}

header a i:hover{
    color:grey;
}

.nav-label{
    color: white;
    font-size: 30px;
    position:fixed;
    right: 15px;
    top:10px;
}

 .nav-check {
    display: none;

}
/*////////////////////*/
@media (max-width: 700px) {
    
    .nav_menu{
        position: absolute;
        right:-400px;
    }

    .nav-label{
        position:absolute;
        right: 10px;
        cursor: pointer;
    }

    header nav ul{
        height: 100vh;
        display:flex;
        flex-direction: column;
        background-color:rgb(62, 29, 63);
        justify-content: space-evenly;
        align-items: center;
    }

    

    .container-social{
        width:100%;
        display: flex;
        justify-content: space-around;
        transition: all 1s ease;
    }

    .nav-check:checked + .nav_menu {
        right:0;
        z-index: 9999;
    }

}


/*Tooltip*/
.tooltip{
    position: relative;
}

.tooltip:hover .tooltip-box{
    display: inline-block;
}

.tooltip-box{
    background-color: black;
    color: white;
    padding: 2px;
    border-radius: 7px;
    position: absolute;
    display:none;
    z-index: 500;
    left: 0;
    bottom: -25px;
}

/*Main*/
#deepPurple {
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    filter: drop-shadow( 2px 4px 8px #585858);
    transition: all 0.3s ease;
}

#deepPurple:hover {
    transform: scale(1.1);
}

/*////////////////////*/
@media (max-width: 700px) {

    #deepPurple{
        margin-top: 100px;
        width: 300px;
    }

}

